---
// Component Imports
import Counter from '../components/Counter';
import ThemeProvider from '../components/ThemeProvider/ThemeProvider';
import Link from '../components/Link/Link';
import Tag from '../components/Tag/Tag';
import Text from '../components/Text/Text';
const someProps = {
	count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<ThemeProvider>
		<main>
			<Counter {...someProps} client:visible>
				<Text fontFamily="heading">Hello, React!</Text>
			</Counter>
			<Link href="#">Link to page</Link>
			<Tag>#astrojs</Tag>
			<Text fontFamily="heading" fontSize={6} fontWeight="bold">H1 Header</Text>
		</main>
		</ThemeProvider>
	</body>
</html>
