---
// Component Imports
import Counter from '../components/Counter';
import Link from '../components/Link/Link';
import Tag from '../components/Tag/Tag';
import Text from '../components/Text/Text';
import Logo from '../components/Logo/Logo';
import DefaultPage from '../layouts/DefaultPage.astro';
import SceneWaves from '../components/SceneWaves/SceneWaves';
import MainNav from '../components/MainNav/MainNav';
const someProps = {
	count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<DefaultPage title="The blog and portfolio of Ryosuke">
	<SceneWaves client:visible />
	<main>
		<Logo />
		<MainNav />
	</main>
</DefaultPage>
