---
import Html from "../components/Html/Html";
import Box from "../components/Box/Box";
import Copyright from "../components/Copyright/Copyright";
import Logo from "../components/Logo/Logo";
import SceneWaves from "../components/SceneWaves/SceneWaves";
import MainNav from "../components/MainNav/MainNav";
import ThemeToggle from "../components/ThemeToggle/ThemeToggle";
import ThemeProvider from "@/components/ThemeProvider/ThemeProvider";

const { title } = Astro.props;
---

<Html title={title}>
  <SceneWaves client:load />
  <Box
    display="flex"
    flexDirection="column"
    justifyContent="space-between"
    style={{ flex: 1 }}
  >
    <ThemeProvider>
      <main>
        <header>
          <Logo />
          <MainNav client:load />
          <ThemeToggle client:load />
        </header>

        <slot />
      </main>
      <footer>
        <Copyright />
      </footer>
    </ThemeProvider>
  </Box>
</Html>
